In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from example.loader.ctiteo_loader import load_data,missing_values_process
data=load_data('G:/dataset/criteo-small/train_1m.txt')
data=missing_values_process(data)
data.head()

,y,I1,I2,I3,I4,I5,I6,I7,I8,I9,...,C17,C18,C19,C20,C21,C22,C23,C24,C25,C26
0,0,1.0,1,5.0,0.0,1382.0,4.0,15.0,2.0,181.0,...,e5ba7672,f54016b9,21ddcdc9,b1252a9d,07b5194c,0,3a171ecb,c5c50484,e8b83407,9727dd16
1,0,2.0,0,44.0,1.0,102.0,8.0,2.0,2.0,4.0,...,07c540c4,b04e4670,21ddcdc9,5840adea,60f6221e,0,3a171ecb,43f13e8b,e8b83407,731c3655
2,0,2.0,0,1.0,14.0,767.0,89.0,4.0,2.0,245.0,...,8efede7f,3412118d,0,0,e587c466,ad3062eb,3a171ecb,3b183c5c,0,0
3,0,1.0,893,5.0,4.0,4392.0,33.0,0.0,0.0,0.0,...,1e88c74f,74ef3502,0,0,6b3a5ca6,0,3a171ecb,9117a34a,0,0
4,0,3.0,-1,5.0,0.0,2.0,0.0,3.0,0.0,0.0,...,1e88c74f,26b3c7a7,0,0,21c9516a,0,32c7478e,b34f3128,0,0

In [2]:
counts=data['I1'].value_counts()
counts=counts.sort_index()
counts_ratio=counts/len(data)

In [13]:
total_acc=0
acc=0
idx=0
left=0
right=0
for i in range(len(counts_ratio)):
    total_acc+=counts_ratio[i]
    acc+=counts_ratio[i]
    print(i,counts_ratio[i])

    if acc>0.03:
        right=i
        print(left,right,idx,acc)
        idx+=1
        left=i+1
        acc=0
        if total_acc>0.97:
            print(total_acc)
            break

0 0.260558
0 0 0 0.260558
1 0.521462
1 1 1 0.521462
2 0.054293
2 2 2 0.054293
3 0.033641
3 3 3 0.033641
4 0.024655
5 0.017578
4 5 4 0.042233
6 0.013687
7 0.010403
8 0.008458
6 8 5 0.032548
9 0.006793
10 0.005751
11 0.004659
12 0.00406
13 0.003334
14 0.003063
15 0.002627
9 15 6 0.030287
0.9750219999999999